<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset = "UTF-8">	
	<title>Portfolio</title>
	<link rel = "stylesheet" href = "./static/css/default.css">
	<link rel = "stylesheet" href = "./static/css/bootstrap.css">
	<link rel = "stylesheet" href = "./static/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,900' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<meta name = "viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	<header>
		<div class = "nav">
			<div class = "nav-menu">
				<a href = "./about" id = "active" class = "menu-item">ABOUT</a>
				<a href = "./process" class = "menu-item">PROCESS</a>
				<a id = "logo" href = "./home" class = "menu-item img-responsive"> <img src = "./static/img/name_sub.svg" alt = "Paul Martino"></a>
				<a href = "./work" class = "menu-item">WORK</a>
				<a href = "./contact" class = "menu-item">CONTACT</a>
			</div>
		</div> <!--CLOSE CLASS = "NAV"-->

		<nav class="navbar navbar-default">
  			<div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      	</button>
      				<a class="navbar-brand" href="#">PAUL MARTINO</a>
    			</div>

    		<!-- Collect the nav links, forms, and other content for toggling -->
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      				<ul class="nav navbar-nav">
        				<li><a href="./home.html">HOME</a></li>
			        	<li class="active"><a href = "./about.html">ABOUT <span class="sr-only">(current)</span></a></li>
						<li><a href = "./process.html">PROCESS</a></li>
			        	<li><a href = "./work.html">WORK</a></li>
						<li><a href = "./contact.html">CONTACT</a></li>
			    	</ul>
    			</div><!-- /.navbar-collapse -->
  			</div><!-- /.container-fluid -->
		</nav>
	</header>

	<div class = "jumbotron">
		<div class = "container">
			<div class = "col-xs-12 col-md-6">
				<h1>____</h1>
				<h1 id = "about-h1">ABOUT</h1>
			</div>
				 <!--
				 <img src="./img/me.jpg" alt = "Me" id = "me-image" >
				--> 
			<div class = "col-xs-12 col-md-6">
				 <p id = "about-text">I am a former data analyst turned UI/UX designer. I am interesting utilizing paper sketches and protoptypes to better come to grips with design problems. The study of fonts and their use in minimalistic design is of importance to me. <br>
				<br>
				After a life of numbers I have decided to apply my research skills towards another field where I can flex my creative muscles. I am a first year masters student at the University of Michigan where I am studying Human Computer Interaction. By combing my love of design, quanatative / qualatative research, and technology I am able to hit every synapse in my brain for maximum fullfillment.
				</p>
			</div>

			<div class = "col-xs-12 col-md-6">
				<h2>_____</h2>
				<h2>EDUCATION</h2>
				<p>
					I am currently obtaining my Masters at the University of Michigan in Human Computer Interaction with a focus on User Interaction.  Many moons ago I grduated from the Rochester Institute of Technology where I studied Statistics, Economics, and History.
				</p>
			</div>

			<div class = "col-xs-12 col-md-6">
				<h2>_____</h2>
				<h2>EXPERIENCE</h2>
				<p>
					In my life I have wore many hats. From car factories to janitorial work to doing research for the National Science Foundation and the National Oceanic Atmospheric Agency I know how to deal with all situations and people. I am excited for new experiences, especially those that place me out of my comfort zone. Interaction Design is currently doing just that.<br><br>

					I have extensive use of statistical programs like R, Tableau, SAS and SPSS. I am quasi fluent in the Adobe Suite. I have used and loved computers since they have had only four colors.  
				</p>
			</div>

		</div>
	</div>

	<footer>
		<div class = "footer-container">
			<ul>
				<li><a href = "mailto:martpaul@umich.edu?Subject=Good%20Day"><i class="fa fa-envelope fa-2x"></i></a></li>
				<li><a href = "https://twitter.com/paul_mar"><i class="fa fa-twitter-square fa-2x"></i></a></li>
				<li>Copyright: Paul Martino 2015</li>
				<li><a href = "https://instagram.com/paul_mar/"><i class="fa fa-instagram fa-2x"></i></a></li>
				<li><a href = "https://www.linkedin.com/pub/paul-martino/7/1b8/4a2"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
			</ul>		
		</div>
	</footer>
	
	<script src = "./static/js/jquery-2.1.4.min.js"></script>
	<script src = "./static/js/bootstrap.min.js"></script>

</body>
</html>

<!--<ul>
					<li><a href = "#">contact</a></li>
					<li><a href = "#">twitter</a></li>
					<li><a href = "#">instagram</a></li>
					<li><a href = "#">linkedin</a></li>
				</ul>-->